beautifulsoup4==4.11.1
bs4==0.0.1
DateTime==4.5
filelock==3.7.1
Flask==2.1.2
Flask-Cors==3.0.10
Frozen-Flask==0.18
gunicorn==20.1.0
selenium==4.3.0
virtualenv==20.16.2
webdriver-manager==3.8.2
webencodings==0.5.1